<mat-accordion>
  <mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
  *ngFor="let book of books">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ book.title }}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Author: {{ book.author }}</p>
  </mat-expansion-panel>
</mat-accordion>
<hr>
<a class="btn btn-primary" routerLink="/addBook">Add a new book</a>
