<p *ngIf="!(posts$ | async)"> Loading..</p>
<a *ngIf = "(posts$ | async)" class = "btn btn-primary persist" (click) = "addToFirestore()">Persist Posts to Firestore</a>
<mat-accordion>
  <mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
  *ngFor="let post of posts$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
      {{ post.title }}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="body"> <q> {{ post.body }} </q></p>
    <div class="cred">
        <p class="title"> {{ post.authorName }}</p>
        <p> {{ post.email }}</p>
        <p>{{ post.phone }}</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>

