mat-panel-title {
  margin-left: 2em;

}

.author {
  text-align: right;
  color: grey;
  font-style: italic;
}

.body {
  font-family: serif;
  width: 60%;
}

.title{
  border-bottom: solid 1px white;
  padding-bottom: 1em;
}

.cred {
  background-color: #512DA8;
  width: 20%;
  text-align: center;
  float:right;
  padding: 2%;
  color: white;
}

.persist {
  padding: 1rem;
  margin: 1rem;
}

.persist:hover,
.persist:active {
  color: #0060b4;
  background: white;

}

