  <h1>Temperature Form</h1>
  <form #editAuthor="ngForm" (ngSubmit)="onSubmit()">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Author" [(ngModel)] = "authorEdit"
                         name = "authorName"
                         required
                         #authorName = "ngModel">
        <mat-error *ngIf="!(authorName.valid || authorName.pristine)">
          Author name is required
        </mat-error>
      </mat-form-field>
      <div>
          <button mat-raised-button color="primary" [disabled]="!editAuthor.form.valid">Primary</button>
      </div>
    </div>
  </form>
